body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} 

.div-product-image {
  border-color: black;
  border-radius: 2px;
  border-width: 1px;
  border-style: solid;
}

.div-shop {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 500px 500px;
}

.card {
  grid-row: span / 1;
  grid-column: span / 1;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 80% 10% 10%;
}

.img-product {
  width: 100%;
  max-height: 100%;
  grid-column: auto;
  grid-row: span / 1;
}

.p-product-title {
  text-align: center;
  font-weight: bold;
  grid-column: auto;
  grid-row: span / 1;
}

.div-add-item {
  grid-column: auto;
  grid-row: span / 1;
  display: flex;
}

.input-add {
  flex: 1 0 auto;
}

.btn-add {
  flex: 1 0 auto;
}

.header-layout {
  background-color: rgb(25, 59, 93);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-title {
  flex: 1 0 auto;
  padding: 0 1rem;
  color: white;
  margin: 0;
}

.nav-pages {
  flex: 10 0 auto;
  display: flex;
  gap: 2rem;
  align-items: stretch;
}

.nav-pages a {
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2rem;
  color: white;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 1.5rem 0;
}

.nav-pages a:hover {
  background-color: slateblue;
}

.nav-cart {
  flex: 1 0 auto;
  color: white;
  margin: 0
}

.div-home {
  text-align: center;
}